   <!-- starts footer -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="span12" style="text-align: center;">
                    <h2>Контакты</h2>
                    <h4>Первые консультации и сметы всегда бесплатны. <br />Узнайте, чем мы можем помочь вам сейчас!</h4>
                </div>
            </div>
            <div class="row">
                <div class="span8 offset2" style="text-align: center;">
                    <h3>Звоните: 8 (8482) 408-223</h3>
                    <h3>Email: <a href="mailto:info@tollersoft.ru">info@tollersoft.ru</a></h3>
                    <h3>Мы здесь: Тольятти, Карла Маркса, 66.
                </div>
            </div>
            <hr />
            <div class="row copyright">
                <div class="span9 copy">
                    <p>© 2013 ООО «Толлер» — Автоматизация ресторанов, гостиниц, магазинов. Видеонаблюдение и безопасность в Тольятти и Самаре.</p>
                </div>
                <div class="span3 copy">
                    <p><a href="mailto:info@tollersoft.ru">info@tollersoft.ru</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter21749296 = new Ya.Metrika({id:21749296, webvisor:true, clickmap:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/21749296" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>