<a href="#" class="scrolltop">
    <span>верх</span>
</a>
<!-- begins navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand scroller" href="/index.html">
            <img src="{{ site.url }}/img/logo.png" alt="Автоматизация ресторанов, гостиниц и торговли. Видеонаблюдение и безопасность. Тольятти и Самара." />
        </a>
        <div class="nav-collapse collapse">
            <ul class="nav pull-right">
                <li {% if page.title == "Tollersoft For Restaurants" %} class="active" {% endif %}><a href="/rests.html">Ресторанам</a></li>
                <li {% if page.title == "Tollersoft For Hotels" %} class="active" {% endif %}><a href="/hotels.html">Гостиницам</a></li>
                <li {% if page.title == "Tollersoft For Shops" %} class="active" {% endif %}><a href="/shops.html">Магазинам</a></li>
                <li><a href="/articles.html">Статьи</a></li>
                <li><a href="/index.html#contacts" class="scroller" data-section="#contacts">Контакты</a></li>
            </ul>
        </div>
    </div>
  </div>
</div>
<!-- ends navbar -->