<!DOCTYPE html>
<html>
<head>
	<title>Статьи для бизнеса | Автоматизация ресторанов, гостиницы, магазинов | Толлер | Тольятти и Самара 8 (8482) 408-223</title>
    <meta name="description" content="Автоматизация ресторанов и гостиниц, автоматизация торговли. Видеонаблюдение и безопасность в Тольятти и Самаре">
    <meta name="keywords" content="автоматизация ресторана, автоматизация торговли, видеонаблюдение, автоматизация гостиницы, Tillypad, R-Keeper, кассовые аппараты, Тольятти, Самара">
    {% include head.html %}
</head>
<body>

    {% include navbar.html %}

    <div id="blog_wrapper" class="blog_post">
        <div class="container">
            <div class="row">

                <div class="span8">
                    <h2>
                        Полезные материалы для владельцев бизнеса
                    </h2>
                    <ol class="articles-list">
                        {% for post in site.posts %}
                        <li>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </li>
                        {% endfor %}
                    </ol>
                </div>

                <div class="span3 sidebar offset1">

                    <h4 class="sidebar_header">
                        Автоматизация предприятий
                    </h4>

                    <ul class="recent_posts">
                        <li>
                            <div class="row">
                                <div class="span1">
                                    <a href="hotels.html">
                                        <img class="thumb" alt="thumb post" src="/img/solutions/hotels_projects.jpg" />
                                    </a>
                                </div>
                                <div class="span2">
                                    <a class="link" href="hotels.html">Автоматизация гостиниц</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="span1">
                                    <a href="#">
                                        <img class="thumb" alt="thumb post" src="/img/solutions/restaurants_projects.jpg" />
                                    </a>
                                </div>
                                <div class="span2">
                                    <a class="link" href="#">Автоматизация ресторанов</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="span1">
                                    <a href="shops.html">
                                        <img class="thumb" alt="thumb post" src="/img/solutions/shop_projects.jpg" />
                                    </a>
                                </div>
                                <div class="span2">
                                    <a class="link" href="shops.html">Автоматизация магазинов</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

    {% include footer.html %}

</body>
</html>