<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>АТП</title>
</head>
<body>
    <iframe src="http://camgate.ru/embed.php?camid=070114121938&player=2&server=ru" width="640" height="480" scrolling="no" frameborder="no"></iframe>
    <iframe src="http://camgate.ru/embed.php?camid=070114122551&player=2&server=ru" width="640" height="480" scrolling="no" frameborder="no"></iframe>
</body>
</html>