<!DOCTYPE html>
<html>
<head>
	<title>Автоматизация гостиниц, отелей, хостелов и пансионатов. Софт и оборудование для гостиниц и отелей. Учета и доступа к номерам | Толлер | Тольятти и Самара 8 (8482) 408-223</title>
    <meta name="description" content="Автоматизация гостиниц, отелей, пансионатов. Видеонаблюдение и безопасность в Тольятти и Самаре">
    <meta name="keywords" content="автоматизация гостиницы, автоматизация отеля, мини-отель, учет, ПО для гостиницы, ПО для отеля, софт для отеля, Эдельвейс, Тольятти, Самара">
    {% include head.html %}
</head>
<body>

    {% include navbar.html %}

    <div id="blog_wrapper">
        <div class="container">
            <div class="row">

                <div class="span8">

                    <h1 class="header">
                        Решения для гостиниц
                        <hr />
                    </h1>

                    <p class="subheader">Мы предлагаем решения для автоматизации гостиниц и отелей на базе мощного комплекса АСУ «Эдельвейс». Она обеспечивает гибкость настройки, свободу использования множества подключаемых устройств и модулей, а главное — надежность, подтвержденную владельцами более 300 гостиниц Европы.</p>

                    <div class="post" id="solution_local">
                        <div class="row">
                            <div class="span3">
                                <img class="main_pic" alt="Решение Локальное для автоматизации гостиницы - ПО Эдельвейс от Эделинк" src="img/solutions/hotel_1.jpg" />
                            </div>
                            <div class="span4 info">
                                <h3>«Локальное»</h3>
                                <p><b>Что входит:</b>
                                    <ul>
                                        <li>лицензия на полную версию АСУ «Эдельвейс» для локальной машины</li>
                                        <li>интерфейс фискального регистратора</li>
                                        <li>услуги по установке и комплексному обучению.</li>
                                    </ul>
                                </p>
                                <p><b>Для кого подходит:</b> гостиницы и мини-отели с номерным фондом до 20 номеров, планирующие развитие.</p>
                                <p><b>Стоимость:</b> 78999 руб.</p>
                                <a class="btn btn-success btn-large scroller" data-section="#contacts">Заказать сейчас</a>
                            </div>
                        </div>
                    </div>

                    <div class="post" id="solution_mini">
                        <div class="row">
                            <div class="span3">
                                <img class="main_pic" alt="Решение Отель для автоматизации гостиницы - ПО Эдельвейс от Эделинк до 40 номеров" src="img/solutions/hotel_2.jpg" />
                            </div>
                            <div class="span4 info">
                                <h3>«Отель»</h3>
                                <p><b>Что входит:</b>
                                    <ul>
                                        <li>2 лицензии на полную сетевую версию АСУ «Эдельвейс» (до 40 номеров)</li>
                                        <li>интерфейс фискального регистратора</li>
                                        <li>интерфейс системы дисконтных карт</li>
                                        <li>услуги по установке и комплексному обучению.</li>
                                    </ul>
                                </p>
                                <p><b>Для кого подходит:</b> гостиницы и пансионаты с номерным фондом до 40 номеров.</p>
                                <p><b>Стоимость:</b> 197999 руб.</p>
                                <a class="btn btn-success btn-large scroller" data-section="#contacts">Заказать сейчас</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="span3 sidebar offset1">

                    <h4 class="sidebar_header">Решения</h4>

                    <ul class="sidebar_menu">
                        <li><a href="#solution_local" class="scroller" data-section="#solution_pc">«Локальное»</a></li>
                        <li><a href="#solution_mini" class="scroller" data-section="#solution_laptop">«Отель»</a></li>
                    </ul>

                    <h4 class="sidebar_header">
                        Автоматизация других предприятий
                    </h4>

                    <ul class="recent_posts">
                        <li>
                            <div class="row">
                                <div class="span1">
                                    <a href="shops.html">
                                        <img class="thumb" alt="thumb post" src="/img/solutions/shop_projects.jpg" />
                                    </a>
                                </div>
                                <div class="span2">
                                    <a class="link" href="shops.html">Автоматизация магазинов</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="span1">
                                    <a href="#">
                                        <img class="thumb" alt="thumb post" src="/img/solutions/restaurants_projects.jpg" />
                                    </a>
                                </div>
                                <div class="span2">
                                    <a class="link" href="#">Автоматизация ресторанов</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

    {% include footer.html %}

</body>
</html>