<!DOCTYPE html>
<html>
<head>
	<title>Толлер - автоматизация ресторанов и магазинов. Видеонаблюдение и безопасность. | Тольятти и Самара 8 (8482) 408-223</title>
    <meta name="description" content="Автоматизация ресторанов и гостиниц, автоматизация торговли. Видеонаблюдение и безопасность в Тольятти и Самаре">
    <meta name="keywords" content="автоматизация ресторана, автоматизация торговли, видеонаблюдение, автоматизация гостиницы, Tillypad, R-Keeper, кассовые аппараты, Тольятти, Самара">
    {% include head.html %}
</head>
<body>

    {% include navbar.html %}

    <div id="hero">
        <div class="container">
            <!-- starts carousel -->
            <div class="row animated fadeInDown">
                <div class="span12">
                    <div id="myCarousel" class="carousel slide">
                        <!-- carousel items -->
                        <div class="carousel-inner">
                            <!-- slide -->
                            <div class="active item slide1">
                                <div class="row">
                                    <div class="span6">
                                        <img src="img/automatization.png" alt="slide1" />
                                    </div>
                                    <div class="span4">
                                        <h1>
                                            Автоматизация ресторанов и гостиниц
                                        </h1>
                                        <p>
                                            Автоматизируем предприятия сферы услуг и торговли комплексно — от оборудования и ПО до обучения персонала и консультаций.
                                        </p>
                                        <a href="#contacts" class="btn btn-success btn-large scroller" data-section="#contacts">
                                            Консультируем бесплатно!
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- slide -->
                            <div class="item slide2">
                                <div class="row">
                                    <div class="span4 animated fadeInUpBig">
                                        <h1>Безопасность и видеонаблюдение</h1>
                                        <p>
                                           Устанавливаем системы сигнализации, видеонаблюдения, контроля доступа и защиты данных «под ключ». Обеспечим безопасность предприятия!
                                        </p>
                                        <a href="#contacts" class="btn btn-success btn-large scroller" data-section="#contacts">
                                            Закажите бесплатную консультацию!
                                        </a>
                                    </div>
                                    <div class="span6 animated fadeInDownBig">
                                        <img src="img/surveillance_camera.png" alt="slide2" />
                                    </div>
                                </div>
                            </div>
                            <!-- slide -->
                            <div class="item slide3 animated fadeInUpBig">
                                <div class="row">
                                    <div class="span6">
                                        <img src="img/network.jpg" alt="slide1" />
                                    </div>
                                    <div class="span4">
                                        <h1>
                                            Оснащение офисов
                                        </h1>
                                        <p>
                                            Проектируем и устанавливаем телефонию, локальные сети, оборудуем офисы оборудованием и лицензионным ПО.
                                        </p>
                                        <a href="#contacts" class="btn btn-success btn-large scroller" data-section="#contacts">
                                            Закажите бесплатную консультацию!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="intro">
        <div class="container">
            <h1>Занимаемся автоматизацией и безопасностью в Тольятти и Самаре. Работаем с 2004 года, реализовали более 40 проектов.</h1>
        </div>
    </div>

    <!-- features -->
    <div id="features">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop" />
                <span>Клиенты</span>
                <hr class="right visible-desktop" />
            </h2>

            <div class="row">
                <div class="span12">
                    <h3 class="intro">
                        Наши клиенты — эффективные предприятия индустрии развлечений, гостеприимства и торговли размером от 2 до 400 человек. 14 фирм находятся в Тольятти и 7 - в Самаре.
                    </h3>
                </div>
            </div>

            <!-- feature list -->
            <div class="row">
                <div class="span4 feature">
                    <img src="img/projects/park_hotel_sm.jpg" alt="Парк Отель" class="thumb" />
                    <h3>
                        <i><img src="img/projects/park_hotel_logo.png" /></i> Парк Отель
                    </h3>
                    <p class="description">
                        Самый известный отель Тольятти автоматизирован системой гостиничного учета Edelweiss, системой Tillypad для ресторанов и баров и системой Barsum для учета телефонных разговоров.
                    </p>
                    <a href="#" class="btn btn-default">Подробнее</a>
                </div>
                <div class="span4 feature">
                    <img src="img/projects/vsstlt_sm.jpg" alt="Волга Строй Сервис" class="thumb" />
                    <h3>
                        <i><img src="img/projects/vsstlt_logo.png" /></i> Волга Строй Сервис
                    </h3>
                    <p class="description">
                        Крупным подрядчиком ОАО «АвтоВАЗ» была заказана организация офиса на 300 человек (системы доступа, связи, безопасности и наблюдения), а также несколько систем видеонаблюдения за объектами на «АвтоВАЗе».
                    </p>
                    <a href="#" class="btn btn-default">Подробнее</a>
                </div>
                <div class="span4 feature">
                    <img src="img/projects/master_sm.jpg" alt="Сеть ресторанов фаст-фуда Мастер Фастер" class="thumb" />
                    <h3>
                        <i><img src="img/projects/master_logo.png" /></i> Мастер Фастер
                    </h3>
                    <p class="description">
                        Сеть ресторанов фастфуда из 3 точек в Тольятти, автоматизированная  системой Tillypad. Клиент использует 5 рабочих мест и централизованную систему учета по всем точкам продаж.
                    </p>
                    <a href="#" class="btn btn-default">Подробнее</a>
                </div>
            </div>
        </div>
    </div>

    <div id="partners">
        <div class="container">
                        <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop" />
                <span>Партнеры</span>
                <hr class="right visible-desktop" />
            </h2>

            <div class="row">
                <div class="span12">
                    <h3 class="intro">
                        Мы работаем напрямую с производителями ПО и оборудования, чтобы обеспечивать лучшие цены и быструю поставку.
                    </h3>
                </div>
            </div>

            <!-- feature list -->
            <div class="row">
                <div class="span3 partner">
                    <img src="img/logos/tillypad_logo.png" alt="Tillypad - автоматизация кафе, ресторанов, столовых" class="thumb" />
                    <h3>
                        Tillypad
                    </h3>
                    <p class="description">
                        Мы являемся официальным дистрибьютором Tillypad XL - одной из лучших Европе системы автоматизации ресторанов, кафе и столовых. Сотрудничаем с 2005 года. 
                    </p>
                </div>
                <div class="span3 partner">
                    <img src="img/logos/barsum_logo.png" alt="Barsum - разработчик ПО для организации и учета телефонной связи на предприятиях" class="thumb" />
                    <h3>
                        Barsum
                    </h3>
                    <p class="description">
                        Barsum - российский разработчик ПО для организации и учета телефонной связи на предприятиях. Сотрудничаем с 2007 года.
                    </p>
                </div>
                <div class="span3 partner">
                    <img src="img/logos/microinvest_logo.png" alt="Microinvest - автоматизация магазинов и автоматизация ресторанов." class="thumb" />
                    <h3>
                        Microinvest
                    </h3>
                    <p class="description">
                        Microinvest - производитель функциональных и экономичных решений для учета в торговле и ресторанном бизнесе из Болгарии. Сотрудничаем с 2011 года.
                    </p>
                </div>
                <div class="span3 partner">
                    <img src="img/logos/edelink_logo.png" alt="Эделинк - разработчик Edelweiss. Автоматизация гостиниц, пансионатов, отелей." class="thumb" />
                    <h3>
                        Эделинк
                    </h3>
                    <p class="description">
                        Разработчик системы Edelweiss - комплексного решения для автоматизации гостиниц, мини-отелей и пансионатов. Сотрудничаем с 2008 года.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="span3 partner">
                    <img src="img/logos/universe_logo.png" alt="Universe Soft - автоматизация для салонов красоты, фитнес-центров, медицинских учреждений" class="thumb" />
                    <h3>
                        Universe Soft
                    </h3>
                    <p class="description">
                        Разработчик решений Universe для салонов красоты, фитнес-центров и медицинских учреждений. Предлагаем очень широкую линейку решений. Сотрудничаем с 2009 года.
                    </p>
                </div>
                <div class="span3 partner">
                    <img src="img/logos/fregat_logo.png" alt="Фрегат - автоматизация учета в магазинах" class="thumb" />
                    <h3>
                        Фрегат
                    </h3>
                    <p class="description">
                        «Фрегат» — разработчик гибкой системы учета в магазинах любого масштаба. Сотрудничаем с 2009 года.
                    </p>
                </div>
                <div class="span3 partner">
                    <img src="img/logos/mont_logo.png" alt="Mont - поставщик ПО. Microsoft, Adobe." class="thumb" />
                    <h3>
                        Монт
                    </h3>
                    <p class="description">
                        Mont — главный поставщик ПО общего профиля от Microsoft до Adobe и партнер по лицензированию. Сотрудничаем с 2004 года.
                    </p>
                </div>
                <div class="span3 partner">
                    <img src="img/logos/komkom_logo.png" alt="Комком - производитель систем видеонаблюдения — видеокамер, ИК-прожекторов — и систем контроля доступа" class="thumb" />
                    <h3>
                        Комком
                    </h3>
                    <p class="description">
                        Лидирующий российский производитель систем видеонаблюдения — видеокамер, ИК-прожекторов — и систем контроля доступа. Сотрудничаем с 2010 года.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- starts testimonial -->
    <div id="testimonials">
        <div class="container">
            <div class="controls">
                <hr />
            </div>
            <div class="phrases_wrapper">
                <div class="phrase">
                    <div class="row">
                        <div class="span7">
                            <p class="testimony">
                                5 лет успешной работы с «Толлер» и системой автоматизации Tillypad убедили нас в правильности выбора. Единая система без сбоев обслуживает отель, рестораны и кэмпинг.
                                <span>"</span>
                            </p>
                        </div>
                        <div class="span3 offset1">
                            <div class="pic">
                                <img src="img/credentials_park_hotel.jpg" alt="author" class="img-circle" />
                                <div class="name">В. В. Воронской</div>
                                <span class="position">Генеральный директор ГК «Парк Отель»</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="phrase">
                    <div class="row">
                        <div class="span7">
                            <p class="testimony">
                                «Толлер» обеспечивает нас всей IT-инфраструктурой. Наш офисный центр и многочисленные строительные объекты работают на решениях «Толлер».
                                <span>"</span>
                            </p>
                        </div>
                        <div class="span3 offset1">
                            <div class="pic">
                                <img src="img/credentials_vsstlt.jpg" alt="author" class="img-circle" />
                                <div class="name">С.И. Одинцов</div>
                                <span class="position">Генеральный директор СК «Волга Строй Сервис»</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

</body>
</html>