<!DOCTYPE html>
<html>
<head>
	<title>Автоматизация ресторана и гостиницы «Парк Отель» в Тольятти | Толлер | Тольятти и Самара 8 (8482) 408-223</title>
    <meta name="description" content="Автоматизация ресторана и гостиницы «Парк Отель» в Тольятти. Оборудование и ПО для ресторанов и гостиниц">
    <meta name="keywords" content="автоматизация ресторана, автоматизация гостиницы, Парк Отель, гостиница Тольятти, Тольятти, Самара, автоматизация">
    {% include head.html %}
</head>
<body>

    {% include navbar.html %}

    <div id="blog_wrapper" class="blog_post">
        <div class="container">
            <div class="row">

                <div class="span8">

                    <h1 class="header">
                        Автоматизация гостиницы и ресторанов «Парк Отель»
                    </h1>

                    <img class="post_pic" src="img/projects/park_hotel_scene.jpg" />


                    <div class="post_content">
                        <p>Компания «Толлер» внедрила <b>систему автоматизации ресторанов</b> Tillypad XL в пяти объектах гостиничного комплекса «Парк Отель» в Тольятти.</p>
                        <p>Система Tillypad XL изначально разрабатывалась с учетом потребностей сетевых проектов. Это позволило создать целостный продукт, который не только позволяет <b>автоматизировать все бизнес-процессы ресторана</b>, но и помогает эффективно управлять любым количеством заведений вне зависимости от формата, масштаба и расстояния между ними.
Очередным подтверждением этого стал проект внедрения системы Tillypad XL в гостиничном комплексе «Парк Отель», который неоднократно получал официальное звание лучшего в Тольятти. Комплекс состоит из самых разнообразных объектов, расположенные как в городе, на берегу Волги, так и в Самарской области. Это гостиница, кемпинг, парк развлечений, гольф-клуб, SPA-центр, а также рестораны, кафе, бар и банкетные залы.</p>
                        <p>Пять крупных заведений общепита и большие расстояния между ними предполагают в комплексе обязательное наличие центрального офиса, отлаженную работу которого обеспечивает <b>система автоматизации ресторанов Tillypad XL</b>. После её внедрения «Парк Отель» получил возможность дистанционно управлять всеми этими объектами, оперативно менять рецептуру и прейскурант, контролировать деятельность линейного персонала и свободно работать со всеми отчетными данными по заведениям. При этом Tillypad XL соединен с остальными системами гостиничного комплекса, что позволяет им осуществлять обмен данными в реальном времени и обеспечивает согласованность действий всех сотрудников.</p>
                        <p>Специалисты нашей компании «Толлер», внедрявшей Tillypad XL в «Парк Отеле», настроили <b>общую систему скидок для всей сети</b>. Она учитывает не только собственные маркетинговые акции комплекса, но и популярную городскую дисконтную программу «Про-отдых», с которой работают все заведения «Парк Отеля».</p>
                        <p>Вот что говорит о проекте <b>Игорь Власов</b>, директор компании «Толлер»: «Установка системы Tillypad XL на объекты комплекса проходила поэтапно. Во время этого процесса руководство «Парк Отеля» успело оценить преимущества использования Tillypad XL. Точный контроль и легкость проведения ревизий позволила не расширять штат бухгалтеров даже после открытия новых заведений, которые также были автоматизированы Tillypad XL. Кроме того, руководство отметило сокращение потерь из-за неправильного расчета скидок и возможность получать подробные отчеты по всем акциям. Использование Tillypad XL позволяет «Парк Отелю» проводить любые маркетинговые акции и предлагать посетителям самые разнообразные дисконтные программы».</p>
                        <p>Компания «Толлер» основана в 2002 году. Сфера деятельности: комплексная <b>автоматизация бизнеса</b>, оборудование офисов «под ключ», <b>системы видеонаблюдения</b>, контроля доступа и защиты данных. «Толлер» является партнером компании «Тиллипад» с 2006 года.</p>
                        <p>Компания «Тиллипад» является одним из лидеров в сфере разработки программного обеспечения для автоматизации деятельности предприятий общественного питания, индустрии отдыха и развлечений более 16 лет. Компания разработала и успешно продвигает <b>систему автоматизации ресторанов</b> Tillypad XL, которой доверили свой бизнес более 7000 рестораторов России, стран СНГ и Европы. Более 80 компаний на территории этих стран являются официальными партнерами «Тиллипад».</p>
                    </div>
                </div>

                <div class="span3 sidebar offset1">

                    <h4 class="sidebar_header">
                        Автоматизация предприятий
                    </h4>

                    <ul class="recent_posts">
                        <li>
                            <div class="row">
                                <div class="span1">
                                    <a href="hotels.html">
                                        <img class="thumb" alt="thumb post" src="/img/solutions/hotels_projects.jpg" />
                                    </a>
                                </div>
                                <div class="span2">
                                    <a class="link" href="hotels.html">Автоматизация гостиниц</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="span1">
                                    <a href="#">
                                        <img class="thumb" alt="thumb post" src="/img/solutions/restaurants_projects.jpg" />
                                    </a>
                                </div>
                                <div class="span2">
                                    <a class="link" href="#">Автоматизация ресторанов</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="span1">
                                    <a href="shops.html">
                                        <img class="thumb" alt="thumb post" src="/img/solutions/shop_projects.jpg" />
                                    </a>
                                </div>
                                <div class="span2">
                                    <a class="link" href="shops.html">Автоматизация магазинов</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

    {% include footer.html %}

</body>
</html>