<!DOCTYPE html>
<html>
<head>
	<title>Автоматизация ресторанов, кафе и столовых. Программы, софт и оборудование для ресторанов. Отзывы об автоматизации. | Толлер | Тольятти и Самара 8 (8482) 408-223</title>
    <meta name="description" content="Автоматизация ресторанов, кафе и предприятий обещпита. Видеонаблюдение и безопасность в Тольятти и Самаре">
    <meta name="keywords" content="автоматизация гостиницы, автоматизация отеля, мини-отель, учет, ПО для гостиницы, ПО для отеля, софт для отеля, Эдельвейс, Тольятти, Самара">
    {% include head.html %}
</head>
<body>

    {% include navbar.html %}

    <div id="blog_wrapper">
        <div class="container">
            <div class="row">

                <div class="span8">

                    <h1 class="header">
                        Решения для ресторанов
                    </h1>

                    <p class="subheader">
                        Мы размещаем здесь отзывы владельцев заведений, с которыми мы работаем.
                    </p>

                    <div class="row">
                        <div class="span8 post">
                            <h3>Сеть кулинарий в 12-ти больницах Самарской области</h3>
                            <p><b>Бизнес:</b> сеть кулинарий и производственных цехов для обеспечения питанием больниц в нескольких городах Самарской области - Самаре, Новокуйбышевске, Чапаевске, Сергиевске, Смышлявке, Жигулевске.</p>
                            <p><b>Решение:</b> автоматизация питания в государственных больницах с внедрением софта «Вижен-Софт: Диетическое питание».</p>
                            <p><b>Отзыв:</b> «Благодаря внедрению системы управления ресурсами, удалось сделать контролируемым весь процесс производства и учета себестоимости. Компанией «Толлер» для нас был подобран программный пакет «Диетическое питание», который предназначен для таких предприятий, как наше - с большими объемами, низкой маржинальностью и четким контролем», — директор компании «Кулинария» Светлова Екатерина.</p>
                        </div>
                    </div>

                </div>

                <div class="span3 sidebar offset1">

                    <h4 class="sidebar_header">
                        Автоматизация других предприятий
                    </h4>

                    <ul class="recent_posts">
                        <li>
                            <div class="row">
                                <div class="span1">
                                    <a href="shops.html">
                                        <img class="thumb" alt="thumb post" src="/img/solutions/shop_projects.jpg" />
                                    </a>
                                </div>
                                <div class="span2">
                                    <a class="link" href="shops.html">Автоматизация магазинов</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="span1">
                                    <a href="hotels.html">
                                        <img class="thumb" alt="thumb post" src="/img/solutions/hotels_projects.jpg" />
                                    </a>
                                </div>
                                <div class="span2">
                                    <a class="link" href="hotels.html">Автоматизация гостиниц</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

    {% include footer.html %}

</body>
</html>