<!DOCTYPE html>
<html>
<head>
	<title>Толлер - автоматизация торговли и магазинов. Софт и оборудование для магазинов. | Тольятти и Самара 8 (8482) 408-223</title>
    <meta name="description" content="Автоматизация ресторанов и гостиниц, автоматизация торговли. Видеонаблюдение и безопасность в Тольятти и Самаре">
    <meta name="keywords" content="автоматизация ресторана, автоматизация торговли, видеонаблюдение, автоматизация гостиницы, Tillypad, R-Keeper, кассовые аппараты, Тольятти, Самара">
    {% include head.html %}
</head>
<body>

    {% include navbar.html %}

    <div id="blog_wrapper">
        <div class="container">
            <div class="row">

                <div class="span8">

                    <h1 class="header">
                        Решения для магазинов
                        <hr />
                    </h1>

                    <p class="subheader">Мы предлагаем решения для автоматизации магазинов на базе лучшего в Восточной Европе ПО для учета — Microinvest. Комплексно автоматизируем торговлю от 40 тысяч рублей!</p>

                    <div class="post">
                        <div class="row">
                            <div class="span3">
                                <img class="main_pic" alt="Решение Базовое на ПК для автоматизации учета - ПО от Microinvest, Windows, ПК, монитор, принтер чеков Sams4x" src="img/solutions/shop_1.jpg" />
                            </div>
                            <div class="span4 info">
                                <h3>«Оптимум» на базе ПК</h3>
                                <p><b>Что входит:</b>
                                    <ul>
                                        <li>пакет Microinvest «Базовый магазин» — 1 лицензия «Склад Pro» (Back) и 1 лицензия «Склад Pro Light» (Front) и Microsoft Windows</li>
                                        <li>ПК; 18,5" ЖК-монитор Philips; принтер чеков Sams4x Ellix 30</li>
                                        <li>услуги по установке и базовому обучению.</li>
                                    </ul>
                                </p>
                                <p><b>Для кого подходит:</b> небольшой магазин или отдел в ТЦ, важна надежность.</p>
                                <p><b>Стоимость:</b> 42999 руб.</p>
                            </div>
                        </div>
                    </div>

                    <div class="post">
                        <div class="row">
                            <div class="span3">
                                <img class="main_pic" alt="Решение Базовое на ноутбуке для автоматизации учета - ПО от Microinvest, Windows, ноутбук Lenovo, принтер чеков Sams4x" src="img/solutions/shop_2.jpg" />
                            </div>
                            <div class="span4 info">
                                <h3>«Оптимум» на базе ноутбука</h3>
                                <p><b>Что входит:</b>
                                    <ul>
                                        <li>пакет Microinvest «Базовый магазин» — 1 лицензия «Склад Pro» (Back) и 1 лицензия «Склад Pro Light» (Front) и Microsoft Windows</li>
                                        <li>Ноутбук Lenovo V580; принтер чеков Sams4x Ellix 30</li>
                                        <li>услуги по установке и базовому обучению.</li>
                                    </ul>
                                </p>
                                <p><b>Для кого подходит:</b> небольшой магазин или отдел в ТЦ, важна мобильность.</p>
                                <p><b>Стоимость:</b> 45999 руб.</p>
                            </div>
                        </div>
                    </div>

                    <div class="post">
                        <div class="row">
                            <div class="span3">
                                <img class="main_pic" alt="Решение Базовое на POS-терминале для автоматизации учета - ПО от Microinvest, POS-терминал, принтер чеков Sams4x" src="img/solutions/shop_3.jpg" />
                            </div>
                            <div class="span4 info">
                                <h3>«Оптимум» на базе терминала</h3>
                                <p><b>Что входит:</b>
                                    <ul>
                                        <li>пакет Microinvest «Базовый магазин» — 1 лицензия «Склад Pro» (Back) и 1 лицензия «Склад Pro Light» (Front) и Microsoft Windows</li>
                                        <li>POS-терминал Maple Touch; принтер чеков Sams4x Ellix 30</li>
                                        <li>услуги по установке и базовому обучению.</li>
                                    </ul>
                                </p>
                                <p><b>Для кого подходит:</b> магазин или отдел среднего размера, важна скорость обслуживания.</p>
                                <p><b>Стоимость:</b> 59999 руб.</p>
                            </div>
                        </div>
                    </div>

                    <div class="post">
                        <div class="row">
                            <div class="span3">
                                <img class="main_pic" alt="Решение Базовое на POS-терминале для автоматизации учета - ПО от Microinvest, POS-терминал, принтер чеков Sams4x" src="img/solutions/shop_4.jpg" />
                            </div>
                            <div class="span4 info">
                                <h3>«Премиум» на базе терминала</h3>
                                <p><b>Что входит:</b>
                                    <ul>
                                        <li>пакет Microinvest «Базовый магазин» — 1 лицензия «Склад Pro» (Back) и 1 лицензия «Склад Pro Light» (Front); Microinvest Barcode Printer Pro; Microsoft Windows</li>
                                        <li>POS-терминал Maple Touch; принтер чеков Sams4x Ellix 30</li>
                                        <li>принтер этикеток OL-2834; сканер штрих-кодов OL-S700</li>
                                        <li>услуги по установке и базовому обучению.</li>
                                    </ul>
                                </p>
                                <p><b>Для кого подходит:</b> магазин или отдел среднего размера, важна скорость обслуживания и учета товара.</p>
                                <p><b>Стоимость:</b> 74999 руб.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    {% include footer.html %}

</body>
</html>